<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cadastro_login/css/testando.css">
  <title>Document</title>
</head>
<body>

  <header>

    <nav class="nav-bar">

    <div class="logo">
   <a href="#" class="nav-link"> <h1>Centauri</h1></a>
    </div>

    <div class="nav-list">
<ul>
    <li class="nav-item"><a href="#" class="nav-link">Editar Dados</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Minhas Viagens</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Mudar Perfil</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>

</ul>
    </div>

    <div class="login-button">
        <button><a href="/cadastro_login/view/login.html">Sair</a></button>
        
    </div>
</header>

  <div class="carousel-container">
    <div class="carousel-slide">
      <!-- Conteúdo do primeiro carrossel -->
      <img src="/cadastro_login/img/frete02.JPG" alt="Imagem 3">
      <a>aaaaa</a>
    </div>
  
    <div class="carousel-slide">
      <!-- Conteúdo do segundo carrossel -->
      <a>aaaaa</a>
    </div>
  
    <div class="carousel-slide">
      <!-- Conteúdo do terceiro carrossel -->
      <a>aaaaa</a>
    </div>
    
    <!-- Adicione mais slides conforme necessário -->
  </div>
  
</body>
</html>