@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap'); 

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
  
body{
    background-color: #d9ebf581;
}

/*parte de cima da tela*/
header{
    background-color: #202e64;

}

/*posicionar os elementos*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

/*mechendo na logo*/
.logo{
    display: flex;
    align-items: center;
}

/*cor na logo*/
.logo h1{
    color: rgb(232, 232, 231);
}

/*constumizando o links do menu*/
/*deixando centralizado*/
.nav-list{
    display: flex;
    align-items: center;
}

/*colocando certo um do lado do outro*/
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

/*colocando espaço entre itens*/
.nav-item{
    margin: 0 15px;
}

/*editando fonte*/
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(232, 232, 231);
    transition: all 0.5s;   
    font-weight: 400;
    
}
.nav-link:hover{
    color: rgb(255, 255, 255);
    font-size: 1.16rem;
}

/*Constumizando botao*/
.login-button button{
    border: none;
    background-color:  #332cb8;;
    padding: 10px 15px;
    transition: all 0.5s;
    border-radius: 5px;    
}
/*aumentando e mudando a cor quando passar o mouse por cima*/
.login-button button:hover{
    background:  #332cb8a8; 
}

.login-button button a{
    text-decoration: none;
    color: rgb(232, 232, 231);
    font-weight: 400;
    transition: all 0.5s;
    font-size: 1.1rem; 
}
.login-button button a:hover{
   color: rgb(255, 255, 255);
    
}



/*tela depois do nav-bar*/
  
.carousel-container {
  height: 5vh; /* Define a altura do container como 100% da altura da janela */
  margin-top: 2rem;
  margin-left: 5rem;

  width: 80%; /* Defina a largura do carrossel */
  height: 500px; /* Defina a altura do carrossel */
  margin-top: 50px;
  margin-left: 20px;
}

.carousel-slide {
  height: 100vh; /* Define a altura do slide como 100% da altura da janela */
  display: flex;
  align-items: center;
 
  /* Outros estilos para o conteúdo do slide */
}